{% extends "core/base.html" %}
{% block content %}
<h1 class="text-2xl font-bold mb-4">Datenqualität</h1>
<div class="bg-white rounded shadow overflow-hidden"><table class="w-full text-sm"><tr class="bg-gray-100"><th class="text-left p-2">Typ</th><th>Objekt</th><th>Problem</th></tr>{% for i in issues %}<tr class="border-t"><td class="p-2">{{ i.typ }}</td><td><a class="text-blue-700" href="{{ i.link }}">{{ i.obj }}</a></td><td>{{ i.problem }}</td></tr>{% empty %}<tr><td class="p-4" colspan="3">Keine Datenqualitätsprobleme gefunden.</td></tr>{% endfor %}</table></div>
{% endblock %}
